*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

:root{
    --color-de-acento: #D81B60;
    --color-de-fondo: #FCE4EC;
    --color-de-texto: #212121;
    --color-de-titulos: #5A9CB5;
    --borde-redondeado: 5%;
}

body{
    background-color: var(--color-de-fondo);
    font-family: "Sedgwick Ave", cursive; ;
}

main{
    background-color: white;
    width: 70%;
    max-width: 800px; /* Tope de estiramiento, máximo ancho que debe tener */
    margin: 2rem auto; /* Auto centra el bloque a los lados */
    padding: 2rem;
    border-radius: 10px;
}

nav ul{ /* Selector de descendencia */
    list-style: none; /* Quitar estilo de lista, por ejemplo, bullet points */
    padding: 1rem;
    display: flex;
    flex-direction: row-reverse; /* Cambiar la dirección de derecha a izquierda*/
    justify-content: space-around; /* Distribuir equitativamente */
}

nav ul li{
    color: var(--color-de-titulos);
    font-weight: bold;
    cursor: pointer;
}

ul li:hover{ /* Pseudo-clase */
    background-color: darkred;
}

h1::first-letter{ /* Pseudo-elemento */
    font-size: 150%;
    color: #D81B60;
    font-family: Arial, Helvetica, sans-serif;
}

label{
    display: block; /* Ocupa todo el renglón (salto de línea) */
    margin-top: 15px;
}

input{
    border: 1px solid #D81B60;
}
