.caja-magica{
    width: 300px;
    height: 300px;
    background-color: red;
    color: white;
    font-size: 3em;
    text-align: center;
}

/* Media query */
/* Si la pantalla mide 600px o menos */
@media (max-width: 600px){
    .caja-magica{
        background-color: blue;
        width: 100%;
    }
}

